@model DiziFilmSatis.Models.Entity.Tbl_Duyurular
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin-top:20px;">
    <h3 style="color:slateblue;">Duyuru Güncelleme Sayfası</h3>
</div>
@using (Html.BeginForm("Guncelle", "Duyuru", FormMethod.Post))
{
    <div style="margin-top:20px;">
        <label>Duyuru Id:</label>
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly" })
    </div>
    <div style="margin-top:20px;">
        <label>Konu:</label>
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control", @required = "required" })
    </div>
    <div style="margin-top:20px;">
        <label>Detay:</label>
        @Html.TextAreaFor(x => x.Detay, new { @class = "form-control", @required = "required",@style="height:150px;" })
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-success">Duyuru Güncelle</button>
    </div>
}
